[[extend 'layout.html']]
<div class="section">

    <div class="columns">
        <div class="column">
          <h1 class="title" style="text-align: center;">Dashboard</h1>
          <div class="columns is-mobile">
            <div class="column">
              <p class="bd-notification is-info" style="text-align: center;">Name: Jimmy Lam</p>
            </div>
            <div class="column">
              <p class="bd-notification is-info" style="text-align: center;">Email: jlam31@ucsc.edu</p>
            </div>
          </div>
        </div>
      </div>


</div>