[[extend 'layout.html']]
<div class="section">

    <div class="columns">
        <div class="column">
          <h1 class="title" style="text-align: center;">Dashboard</h1>
          <div class="columns is-mobile">
            <div class="column">
              <p class="bd-notification is-info" style="text-align: center;">Name: Jimmy Lam</p>
            </div>
            <div class="column">
              <p class="bd-notification is-info" style="text-align: center;">Email: jlam31@ucsc.edu</p>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <h1 class=" title is-4" style="text-align: center;">Your Reviews</h1>

      <!--Each review is a section-->
      <div class="section has-background-info-light">
        <div class="columns is-mobile is-gapless is-vcentered">
            <div class="column is-one-fifth">
                
               <span class="title p-5">10/10</span>


            </div>
            <div class="column">
                <span class="p-3">Property: <strong>157 Franklin St</strong></span>
                <span class="p-3">Responsiveness: <strong>10/10</strong></span>
                <span class="p-3">Friendliness: <strong>10/10</strong></span>
                <span class="p-3">Would Rent Again: <strong>Yes</strong></span>
               
                <div class="section">
                    <p>Would recommend to anyone looking for a rental. They are quick and responsive to service requests and always call before coming in.</p>
                    <br>
                    <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                    </span>
                    <span class="icon p-5">
                        <i class="fas fa-thumbs-down"></i>
                    </span>
                </div>

            
            </div>

        </div>


    </div>
    

</div>