[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
</style>


<div class="section" id="vue-target" v-cloak>
  
    <!--Top Half-->
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-one-third">
                <!--Pictures & leave review button-->
                <img src="https://bulma.io/images/placeholders/128x128.png"> 
                
            </div>
        
            <div class="column">
                <h4 class="title">[[=landlord_name]]</h4>
                <div class="columns is-mobile">
                <div class="column">
                    <!--Rating titles-->
                    <p class="bd-notification is-info">Overall: </p>
                    <p class="bd-notification is-info">Responsiveness: </p>
                    <p class="bd-notification is-info">Friendliness: </p>
                </div>
                <div class="column">
                    <!--Rating values-->
                    <p class="bd-notification is-info">[[=avg_overall]]/10</p>
                    <p class="bd-notification is-info">[[=avg_resp]]/10</p>
                    <p class="bd-notification is-info">[[=avg_friend]]/10</p>
                </div>
                </div>
            </div>
        </div>

        <button class="button is-success block is-rounded" @click="set_add_status(true)">Leave a review</button>

        <!--Add review-->
        <div v-if="add_mode" class="container block">

            <!--Location thing-->
            <div class="pac-card block" id="pac-card">
                <div id="pac-container">
                    <label for="searchTextField">Property Address</label>
                    <input id="searchTextField" type="text" size="50" placeholder="Street, City, State, ZIP" style="font-family:Gill Sans" autocomplete="on" runat="server" v-model="reviews_property_address" />
                    <input type="hidden" id="city2" name="city2" />
                    <input type="hidden" id="cityLat" name="cityLat" />
                    <input type="hidden" id="cityLng" name="cityLng" />
                </div>
            </div>
            <div class="container block">
                <!--[[=landlordID]]-->
                <label for="review_content">Review</label>
                <textarea class="textarea" v-model="reviews_contents"></textarea>

                <label for="rep_scale">Responsiveness (0-10): <label for="rep_scale" id="rep_scale_output">{{r_value}}</label> <label for="rep_scale" id="rep_scale_output">/10</label></label>
                <input id="rep_scale" class="input block" type="range" min="0" max="10" v-model="reviews_score_responsiveness" @change="change_r_value">

                <label for="friend_scale">Friendliness (0-10): <label for="friend_scale" id="friend_scale_output">{{f_value}}</label><label for="friend_scale" id="rep_scale_output">/10</label></label>
                <input id="friend_scale" class="input block" type="range" min="0" max="10" v-model="reviews_score_friendliness" @change="change_f_value">
            </div>

           <!--Reinput ==form here if necessary-->
    
           <input type ="submit" style="font-family:'Gill Sans', sans-serif" class="button is-success is-rounded" @click="add_post" value="Submit">
           <input type ="submit" style="font-family:'Gill Sans', sans-serif" class="button is-warning is-rounded" @click="set_add_status(false)" value="Cancel">


        </div>
        <!--End add review-->

    </div>
    <hr>
    <!--Bottom Half-->
    <div class="container">
       
        <!--Each review is a section-->
        <div class="section has-background-info-light block" v-for="r in rows.slice().reverse()" v-if=" r.reviews_landlordID == [[=landlordID]] ">
            <div class="columns is-mobile is-gapless is-vcentered">
                <div class="column is-one-fifth">
                    
                   <span class="title p-5">{{r.reviews_score_overall}}/10</span>


                </div>
                <div class="column">
                    <span class="p-3">Property: <strong>{{r.reviews_property_address}}</strong></span><br />
                    <span class="p-3">Responsiveness: <strong>{{r.reviews_score_responsiveness}}/10</strong></span>
                    <span class="p-3">Friendliness: <strong>{{r.reviews_score_friendliness}}/10</strong></span>
                   <!-- <span class="p-3">Would Rent Again: <strong>Yes</strong></span> --> 
                   
                    <div class="section">
                        <p>{{r.reviews_contents}}</p>
                        <br>
                        <span class="icon">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <span class="icon p-5">
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                        <button @click="delete_post(r._idx)" class="button is-danger is-rounded" v-if="r.renter_email == '[[=globals().get('user').get('email')]]'" style="float: right;">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <!-- v-if="r.renter_email == '[[=globals().get('user').get('email')]]'" -->
                
                </div>

            </div>


        </div>
    </div>

    </div>

</div>

[[block page_scripts]]

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd17lZuOHyWRp3Kf2q8czP8pjtJSy7wHA&libraries=places"></script>
<script>
    let add_reviews_url = "[[=XML(add_reviews_url)]]";
    let load_reviews_url = "[[=XML(load_reviews_url)]]";
    let delete_reviews_url = "[[=XML(delete_reviews_url)]]";
</script>
<script src="js/reviews.js"></script>

[[end]]